.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    font-weight: 400;
    font-size: 14px;
    color: #c00;
}

.input {
}

.input:focus {
}

.errorInput {
    border: 1px solid #c00;
    border-radius: 5px;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
